{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <div class="col flex flex-center center-content">
        <div class="card mb-4 rounded-3 shadow-sm" style="width: 400px; height: 500px; margin: -300px;">
        <div class="card-body d-flex flex-column flex-grow-1">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-center align-items-center" style="height: 40vh;">
                    <form action="{% url 'accounts:change_password' %}" method="POST" style="margin-top: 80px;"enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-warning" value="비밀번호 변경">
                    </form>
                </div>   
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock content %}
