{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="text-center" style="height: 50%;">
    <div class="col center-content">
        <div class="card mb-4 rounded-3 shadow-sm" style="width: 400px; height: 500px; margin: -300px;">
        <div class="card-body d-flex flex-column flex-grow-1">
            <h4 class="my-0 fw-normal" style="text-align: left; line-height: 1.5; font-size: 25px;">Lemon Market에 오신것을<br>환영합니다.</h4>
            <div class="d-flex flex-column justify-content-end mt-auto">
                <img src='{% static 'images/spartamarket.png' %}' alt=''>
                <br>
                <form action="{% url 'accounts:login' %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="w-100 btn btn-warning btn-lg mb-2" value="로그인">
                </form>
                <form action="{% url 'accounts:signup' %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="w-100 btn btn-lg" style="background-color:rgb(145, 145, 9);" value="회원가입">
                </form>
            </div>
        </div>
        </div>
    </div>
</div>


{% endblock content %}