{% extends 'base.html' %}

{% block content %}
<div class="text-center">
    <div class="col flex flex-center center-content">
        <div class="card mb-4 rounded-3 shadow-sm" style="width: 500px; height: 700px; margin: -270px;">
        <div class="card-body d-flex flex-column flex-grow-1">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-center align-items-center" style="height: 40vh;">
                    <form action="{% url 'accounts:signup' %}" method="POST" style="margin-top: 280px;" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" style="margin-top: 30px;" class="w-100 btn btn-lg btn-warning mb-2" value="회원가입">
                    </form>
                    <form action="{% url 'home' %}" method="">
                        <input type="submit" class="w-100 btn btn-lg mb-2" style="background-color:rgb(145, 145, 9);" value="뒤로">
                    </form>
                </div>   
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock content %}