{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock css %}

{% block content %}

<div style="text-align: right; position: relative; right: 35vh;">
    {% if request.user.is_authenticated %}
        <a class="new-content" href="{% url 'products:create' %}">
            <button>새로운 글작성</button>
        </a>

    {% else %}

        <a href="{% url 'accounts:login' %}">로그인하고 글 작성하기</a>

    {% endif %}
        <form method="GET" action="{% url 'products:products' %}">
            <div>
                <select name="sort" id="sort">
                    <option value="deault" id="default">------</option>
                    <option value="recently" id="recently">최신순</option>
                    <option value="mark" id="mark">인기순</option>
                </select>
                <button class="sort" type="submit" value="">정렬</button>
            </div>
</div>
        
<div>
    {% for product in products %}
        <div style="text-align: left; position: relative; left: 35vh;">
            <a href="{% url 'products:product_detail' product.pk %}">
                <p> 제목 : {{ product.title }}</p>
            </a>
            <a href="{% url 'users:profile' product.seller.username %}">
                <p> 작성자 : {{ product.seller.username }}</p>
            </a>
                
                <br>
                {% if product.image %}
                <img src="{{ product.image.url }}">
                {% endif %}
            <p>찜수 : {{ product.mark_user.count }}</p>
            <p>조회수: {{ product.hit }}</p>
        </div>
    {% endfor %}
</div>

{% endblock content %}