{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
{% endblock css %}

{% block content %}
<div class="container text-center">
<h2 style="text-align: left; margin-left: 200px;">{{ product.title }}</h2>
<h5 style="text-align: left; margin-left: 210px;">{{ product.seller.username }}</h5>

<br>
{% if product.image %}
    <img src="{{ product.image.url }}">
{% endif %}

{% if product.image2 %}
    <img src="{{ product.image2.url }}">
{% endif %}

{% if product.image3 %}
<img src="{{ product.image3.url }}">
{% endif %}

{% if product.image4 %}
<img src="{{ product.image4.url }}">
{% endif %}

{% if product.image5 %}
<img src="{{ product.image5.url }}">
{% endif %}

<div class="card rounded-3 shadow-sm" style="width: 820px; height: 300px; text-align: left; margin-left: 240px; margin-top: 50px; font-size: 24px; overflow: auto; word-wrap: break-word;">{{ product.content}}</div>
{% for hashtag in hashtags %}
{{ hashtag }}
{% endfor %}
<br>
<div class="btn btn123">
    <form action="{% url 'products:mark' product.pk %}" method="POST">
    {% csrf_token %}
    {% if request.user in product.mark_user.all %}
        <button class="btn btn-link text-danger" >
            <i class="bi bi-heart-fill" style="font-size: 24px;"></i>
        </button>
    {% else %}
        <button class="btn btn-link text-danger" >
            <i class="bi bi-heart" style="font-size: 24px;"></i>
        </button>
    {% endif %}
    </form>
</div>
<div>
    <p style="font-size: 24px;">찜 {{ marks }} 조회수 {{ hits }}</p>
</div>
<p>작성일시:{{ product.created_at }}</p>
<p>수정일시:{{ product.updated_at }}</p>

<div class="btn123">
    <div class="btn btn123 btn-warning">
    {% if user == product.seller %}
    <form action="{% url 'products:update' product.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-warning" value="수정">
    </form>
    </div>

    <div class="btn btn123 btn-warning">
    <form action="{% url 'products:delete' product.pk %}" method="POST" style="display:inline;" onsubmit="return confirmDelete();">
    {% csrf_token %}
    <input type="submit" class="btn btn-warning" value="삭제">
    </form>
    </div>
    {% endif %}

    <div class="btn btn123 btn btn-warning">
    <form action="{% url 'products:products' %}" method="">
    <input type="submit" class="btn btn-warning" value="목록">
    </form>
    </div>
</div>
</div>
<script>
    function confirmDelete() {
        return confirm('삭제하시겠습니까?');
    }
</script>
<br>

{% endblock content %}