{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock css %}

{% block content %}

<form action="{% url 'products:search' %}" method="POST">
    {% csrf_token %}
    {{ form.as_table }} <!-- form을 테이블 형식으로 표시, 여기서 form은 views에서 넘겨준 PostSearchForm 객체임-->
    <input type="submit" value="Submit" class="btn btn-primary btn-sm">
</form>

<br/><br/>

{% if product_list %}
    {% for post in product_list %}
        <h2><a href='{% url 'products:product_detail' post.pk %}'>{{ post.title }}</a></h2>
        <img src="{{ post.image.url }}">
        <p>{{ post.content }}</p>
        <p>{{ post.created_at|date:"N d, Y" }}</p>
    {% endfor %}
{% elif search_term %}
    <b><i>찾으시는 물건이 없습니다.({{ search_term }}) Not Found</i></b>
{% endif %}


{% endblock content %}