{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock css %}

{% block content %}

<div style="text-align: right; position: relative; right: 35vh;">
    <form action="{% url 'products:search' %}" method="POST">
        {% csrf_token %}
        {{ form.as_table }} <!-- form을 테이블 형식으로 표시, 여기서 form은 views에서 넘겨준 ProductSearchForm 객체임-->
        <input type="submit" value="검색" class="btn btn-warning btn-sm">
    </form>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4 mx-auto w-75 pb-5">
    {% if product_list %}
        {% for post in product_list %}
        <div class="col">
            <div class="card h-100" style="width: 300px; height: 500px; text-align: center;margin-top: 40px;">
                {% if post.image %}
                    <img src="{{ post.image.url }}"style="display: block; margin: 0 auto; margin-top: 40px;">
                {% endif %}
                <div class="card-body">
                    <a href="{% url 'products:product_detail' post.pk %}" style="text-decoration: none;">
                        <h3>{{ post.title }}</h3>
                    </a>
                    <a href="{% url 'users:profile' post.seller.username %}" style="text-decoration: none;">
                        <p>{{ post.seller.username }}</p>
                    </a>
                    <p>찜 {{ post.mark_user.count }}</p>
                    <p>조회수 {{ post.hit }}</p>
                    <p>{% if post.created_string == False %}
                            <td>{{ post.registered_date|date:'m월 d일' }}</td>
                        {% else %}
                            <td>{{ post.created_string }}</td>
                        {% endif %}</p>
                    {% for hashtag in post.hashtags.all %}
                        {{ hashtag }}
                        {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    {% elif search_term %}
    <b><i>찾으시는 물건이 없습니다.({{ search_term }}) Not Found</i></b>
    {% endif %}
</div>
{% endblock content %}